DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=modulo_banos

numero_caja=1

# Entorno
# Cambia el valor de NODE_ENV a "production" para producción
# Cambia el valor de NODE_ENV a "development" para desarrollo
#NODE_ENV=production
NODE_ENV=development
FORCE_HARDWARE_CONNECTION=true

# Puerto del servidor backend
PORT=3000

# Configuración POS
# TBK_PORT_PATH=/dev/ttyACM0 
# TBK_PORT_PATH2=/dev/ttyACM1
TBK_PORT_PATH=COM3

TBK_BAUD_RATE=115200
TBK_TIMEOUT=30000
TBK_COMMERCE_CODE=tu_codigo_comercio
TBK_TERMINAL_ID=IM750193

# Seguridad CORS - acepta múltiples si es necesario
# Este valor se ignora en modo desarrollo si usas origin: '*'
ALLOWED_ORIGINS=http://localhost:3000

