<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login Pullman</title>
    <link href="/css/login.css" rel="stylesheet" />
    <script src="/js/login.js" defer></script>  
  </head>
  <body>
    <header>
      <nav>
        <img src="/images/LOGOTIPO_PB_NARANJO_NORMA@2x.png" alt="Logo Pullman" class="logo-pullman" />
        <h1>SUITE SERVICIOS PULLMAN</h1>
        <img src="/images/wit@2x.png" alt="Logo Wit" class="logo-wit" />
      </nav>
    </header>

    <main class="login-main">
      <form id="loginForm" class="login-form">
        <h2 class="login-title">Iniciar Sesión</h2>
        <div class="form-group">
          <label>Usuario</label>          
          <input type="email" id="email" required class="user-input" />
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" id="password" required class="user-input" />
          
        </div>
        <div class="text-center">
          <button type="submit" class="ingresar-button">Ingresar</button>
        </div>
        <!-- <div class="text-center" style="margin-top: 15px;">
          <a href="/registro" class="registrar-button">Registrarse</a>
        </div> -->
      </form>
    </main>    
  </body>
</html>
